:root {
  --main-color: #00EA58;
  --main-color-deactive: #598B68;
  --white-color: #EDEDED;
  --green-color: #00FF60;
  --medium-light-cyan: #7DD2CB;
  --medium-dark-red: #C30000;
  --medium-light-red: #D56969;
  --shade-of-yellow-green-1: #ACDC00;
  --shade-of-yellow-green-2: #849040;
  --shade-of-blue: #586198;
  --black-text: #00021A;
  --black-color: #000;
  --dark-red: #9A0000;
  --light-green: #8DFAB2;
}